<div class="container" style="padding-top:50px">
  <blockquote>
    Show Me Tweets &#8482;
  </blockquote>  

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">NASA</div>
        <div class="panel-body">
          <%= link_to 'Fetch', '#', id: 'nasa' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Healthcare</div>
        <div class="panel-body">
          <%= link_to 'Fetch', '#', id: 'healthcare' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Open Source</div>
        <div class="panel-body">
          <%= link_to 'Fetch', '#', id: 'open-source' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="my-container" class="table-responsive">
</div>

<script id="tweet-template" type="text/x-handlebars-template">
  <div class="container">
    <h1>Recent Tweets</h1>
    <div class="row">
      {{#each data}}
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item">Handle: {{this.screen_name }}</li>
            <li class="list-group-item">{{this.full_text }}</li>
            <li class="list-group-item">{{this.hashtags}}</li>
            <li class="list-group-item">Follower Count: {{this.followers_count}}</li>
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
</script>