
$ ->
  $(document).ready ->
    $('#nasa, #healthcare, #open-source').click ->
      $('#my-container').append('')
      api_url = '<%= Rails.application.secrets.nurelm_url %>'
      api_token = '<%= Rails.application.secrets.nurelm_api_token %>'
      topic = this.id.replace(/-/,' ')

      $.ajax
        url: api_url + '/api/search'
        type: 'GET'
        data: {topic: topic, token: api_token}
        # data: {token: api_token}
        dataType: 'json'
        success: (resp) ->
          template_source = $("#tweet-template").html()
          hb_template = Handlebars.compile(template_source)
          tweetsHTML = hb_template(resp);
          $('#my-container').html(tweetsHTML)